@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

select.peer {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../public/images/Arrow-down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.navbar-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
  url("../public/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
